body {
    background-color: #1E1E1E;
}


textarea {
    background-color: #1E1E1E;
    color: #D6D6D6;
    font-family: Consolas, Monaco, "Fira Code", monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    margin: 15px;
    border: none; /* Remove default border */
    outline: none; /* Remove default outline */
    resize: both; /* Allow resizing the textarea */

    border: 3px solid #2A2A2A;
    scrollbar-color: #4A4A4A transparent; /* For Webkit browsers */
    scrollbar-width: thin; /* For Firefox */
}

#clear-button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    padding: 0px 15px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    transition: all 0.5s ease 0s;
    :hover{
        box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
        transition: all 0.1s ease 0s;
    }
}