body {
    background-color: #1E1E1E;
}


textarea {
    background-color: #1E1E1E;
    color: #D6D6D6;
    font-family: Consolas, Monaco, "Fira Code", monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    margin: 15px;
    border: none; /* Remove default border */
    outline: none; /* Remove default outline */
    resize: both; /* Allow resizing the textarea */

    border: 3px solid #2A2A2A;
    scrollbar-color: #4A4A4A transparent; /* For Webkit browsers */
    scrollbar-width: thin; /* For Firefox */
}

#clear-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    
    
}
#clear-button:hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}


#open-file-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #007777;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 85 85 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
#open-file-button:hover {
    background: rgba(0,102,102,0.9);
    box-shadow: 0 6px 20px rgb(0 102 102 / 23%);
}

#share-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #e62020;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(255 0 0 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
#share-button:hover {
    background: rgba(221,18,25,0.9);
    box-shadow: 0 6px 20px rgb(221 18 25 / 23%);
}

#save-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #72EFDD;
    color: #000f00;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(100 223 223 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
#save-button:hover {
    background: rgba(86, 207, 225,0.9);
    box-shadow: 0 6px 20px rgb(86 207 225 / 23%);
}